.App {
  background-color: #132143;
  color: #E6EAF3;
  text-align: center;
}

.dark-blue-fade {
  background-color: #132143a8;
  color: black;
}

.dark-blue {
  background-color: #132143;
  color: black;
}

.blue {
  background-color: #223F84;
  color: white;
}

.light-blue{
  background-color: #225AEE;
  color: black;
}

.dark-yellow{
  background-color: #FFBA00;
  color: black;
}

.yellow{
  background-color: #FFDB00;
  color: black;
}

.dark-red{
  background-color: #D60808;
  color: black;
}

.red{
  background-color: #FF3B29;
  color: black;
}

.eggshell{
  background-color: #E6EAF3;
  color: black;
}
